<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
   <% @order.line_items.each do |line| %>
    <%= line.product.name %>
    <%= line.product.description %>
   <img src=<%= line.product.image %>/>
    <%= line.product.inspect %>
    <p>number ordered: <%= line.quantity %></p>
    <p>price per unit: <%= humanized_money_with_symbol line.item_price_cents %></p>
    <p>Total Price: <%= humanized_money_with_symbol line.item_price_cents * line.quantity %>
    <% end %>
    <p>Order Total: <%= humanized_money_with_symbol @order.total_cents %> </p>
    <p>Ordered by: <%= @order.email %> </p>
  

  
    #<%= render 'lineitem' %>
  </div>


  

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
